<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <InputGroup @name={{t "component.custom-field.field-group-name"}} @value={{@options.customFieldGroup.name}} />
    </div>
</Modal::Default>