<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <InputGroup @type="text" @name={{t "chat.channel-name"}} @value={{@options.channelName}} @helpText={{t "chat.channel-name-help"}} @inputClass="input-lg" />
    </div>
</Modal::Default>