<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}} as |options|>
    <div class="modal-body-container">
        <div class="input-group">
            <label>
                {{t "component.export.format"}}
            </label>
            <Select @value={{@options.format}} @options={{@options.formatOptions}} @placeholder={{t "component.export.select-format"}} @onChange={{@options.setFormat}} class="w-full" />
        </div>
    </div>
</Modal::Default>