<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <InputGroup @name={{t "component.tip-tap.youtube-url"}} @value={{@options.url}} @helpText={{t "component.tip-tap.youtube-url-help"}} @inputClass="input-lg" />
        <div class="mt-2 grid grid-cols-2 gap-2">
            <InputGroup @name={{t "component.tip-tap.height"}} @value={{@options.height}} @helpText={{t "component.tip-tap.youtube-height-help"}} @inputClass="input-lg" />
            <InputGroup @name={{t "component.tip-tap.width"}} @value={{@options.width}} @helpText={{t "component.tip-tap.youtube-width-help"}} @inputClass="input-lg" />
        </div>
    </div>
</Modal::Default>