<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <div class="mt-2 grid grid-cols-2 gap-2">
            <InputGroup @name={{t "component.tip-tap.rows"}} @value={{@options.rows}} @helpText={{t "component.tip-tap.rows-help"}} @inputClass="input-lg" />
            <InputGroup @name={{t "component.tip-tap.columns"}} @value={{@options.columns}} @helpText={{t "component.tip-tap.columns-help"}} @inputClass="input-lg" />
        </div>
    </div>
</Modal::Default>