<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <InfoBlock @type="info" @icon="lightbulb" @iconSize="lg" class="mb-5">
            <div class="font-extrabold">{{t "component.verify-email.title"}}</div>
            <div>{{t "component.verify-email.subtitle"}}</div>
        </InfoBlock>
        {{#if @options.sent}}
            <InputGroup
                @type="tel"
                @name={{t "component.verify-email.enter-code"}}
                @value={{@options.code}}
                @helpText={{t "component.verify-email.enter-code-help"}}
                @inputClass="input-lg"
            />
        {{else}}
            <InputGroup
                @type="email"
                @name={{t "component.verify-email.verify-email"}}
                @value={{@options.email}}
                @helpText={{t "component.verify-email.verify-email-help"}}
                @inputClass="input-lg"
            />
        {{/if}}
    </div>
</Modal::Default>