<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <InfoBlock @type="info" @icon="lightbulb" @iconSize="lg" class="mb-5">
            <div class="font-extrabold">{{t "component.verify-by-sms.title"}}</div>
            <div>{{t "component.verify-by-sms.subtitle"}}</div>
        </InfoBlock>
        <InputGroup @name={{t "component.verify-by-sms.verify-phone"}} @helpText={{t "component.verify-by-sms.verify-phone-help"}}>
            <PhoneInput @value={{@options.phone}} @onInput={{fn (mut @options.phone)}} class="form-input input-lg w-full" />
        </InputGroup>
    </div>
</Modal::Default>