<DropdownButton @icon={{or @icon "magnifying-glass"}} @buttonWrapperClass={{@buttonWrapperClass}} @size={{or @size "xs"}} as |dd|>
    <div class="bulk-search-dropdown-container filters-dropdown-container">
        <div class="filters-dropdown-header">
            <h4>{{or @title (t "component.bulk-search.title")}}</h4>
        </div>
        <div class="filters-dropdown-body">
            <Textarea @value={{this.value}} class="form-input w-full" rows={{or @rows "8"}} placeholder={{or @placeholder (t "component.bulk-search.placeholder")}} />
        </div>
        <div class="filters-dropdown-footer space-x-2">
            <Button @text={{t "common.clear"}} @icon="trash" @size="xs" @onClick={{dropdown-fn dd this.clear}} />
            <Button @text={{t "common.search"}} @icon="check" @type="primary" @size="xs" @onClick={{dropdown-fn dd this.submit}} />
        </div>
    </div>
</DropdownButton>